.flex {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.flex ul {
    list-style-type: disc; /* Ensure list items have bullets */
    margin: 0;
    padding: 0 20px;
}

.flex ul li {
    margin-bottom: 5px; /* Add some space between list items */
}
